@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/* Reset css */
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  font-family: "Poppins";
  font-size: 62.5%;
  line-height: 1.6rem;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.app {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.side-bar {
  background-color: #191818;
}
.header-mobile i {
  display: none;
}
.menu-mobile {
  display: none;
}
.hide {
  display: block !important;
}
.menu-item {
  padding: 20px 20px;
  cursor: pointer;
  border-bottom: 1px solid #bcbcbc;
}
.menu-item:hover {
  background-color: #999;
}
.menu-item a {
  color: #fff;
  font-size: 1.6rem;
}
.content {
  margin: 2rem 10rem;
}
.logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.logo-block h4 {
  font-size: 2rem;
  margin-top: 2rem;
}
.red {
  color: red;
}
.about {
  text-align: center;

  background-color: #efefef;
}
.heading {
  padding: 3rem;
}
.heading-title {
  font-size: 1.8rem;
}
.heading-des {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 3rem;
}
.list-card {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 4rem;
}
.card-item {
}
.card-title {
}
.card-content {
  margin-top: 3rem;
  display: flex;
}
.card-content img {
  display: inline-block;
  width: 120px;
  border: 1px solid #3e50af;
  padding: 1rem;
}
.card-des {
  text-align: left;
  font-size: 1.5rem;
  padding-left: 2rem;
}
footer {
  border-top: 1px solid #3e50af;
  margin: 0rem -10rem;
  padding: 0 3rem;
}
footer p {
  padding-top: 2rem;
  font-size: 1.6rem;
}

.menu-mobile {
  text-align: center;
}
.menu-item-mobile {
  padding: 10px;
  cursor: pointer;
}
.menu-item-mobile a {
  color: #fff;
  font-size: 1.6rem;
}
@media (max-width: 1024px) {
  .content {
    margin: 2rem 7rem;
  }
  .list-card {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    margin: 0;
  }
  footer p {
    text-align: center;
  }
}
@media (max-width: 786px) {
  .content {
    margin: 2rem 2rem;
  }
  .app {
    display: flex;
    flex-direction: column;
  }
  .side-bar .menu-item {
    display: none;
  }
  .menu-mobile {
    background-color: #191818;
  }
  .menu-mobile .menu-item-mobile:hover {
    background-color: #999;
  }

  .header-mobile {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header-mobile i {
    display: block;
    color: #fff;
    align-self: center;
    font-size: 2rem;
    padding-right: 2rem;
    cursor: pointer;
  }
  footer p {
    text-align: center;
  }
}
